* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4; }

body {
  margin: 0;
  background: #8A28FC; }

@media (max-width: 575.98px) {
  .container {
    padding: 0 25px; } }

h1 {
  font-family: Karla;
  font-size: 120px;
  color: #fff;
  letter-spacing: -5px;
  line-height: 120px;
  font-weight: 700;
  margin: 100px 0; }
  @media (max-width: 575.98px) {
    h1 {
      font-size: 60px;
      letter-spacing: -3px;
      line-height: 60px; } }

h2 {
  font-family: Karla;
  font-weight: 700; }

h3 {
  font-family: Karla;
  font-weight: 700;
  font-size: 18px; }

header {
  padding: 30px 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  transition: ease-in .2s; }
  @media (max-width: 575.98px) {
    header {
      text-align: center;
      padding: 40px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; } }
  header #logo {
    height: 50px;
    overflow: hidden;
    width: auto;
    display: inline-block;
    position: relative;
    top: 0;
    -webkit-transition: ease-in .2s;
    -moz-transition: ease-in .2s;
    -o-transition: ease-in .2s;
    transition: ease-in .2s; }
    header #logo img {
      height: 50px;
      width: auto; }
  header nav {
    float: right; }
    header nav ul {
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0rem; }
      header nav ul li {
        font-family: Karla;
        padding: 0 0 0 30px;
        color: #fff;
        display: inline-block;
        font-weight: 700; }
        header nav ul li a {
          text-decoration: none;
          font-weight: 700;
          color: #fff; }
          header nav ul li a:hover {
            color: #fff; }
        header nav ul li .c-btn {
          padding: 15px 50px;
          background: #2AEBD5;
          color: #fff;
          border-radius: 100px; }
    @media (max-width: 575.98px) {
      header nav {
        display: none; } }

.hero {
  height: 100vh;
  width: 100%;
  background: #8A28FC;
  position: relative;
  overflow: hidden; }
  @media (max-width: 575.98px) {
    .hero {
      height: 90vh; } }
  .hero .arrow-down {
    position: absolute;
    width: 50px;
    height: auto;
    left: 50%;
    margin-left: -25px;
    bottom: 170px;
    z-index: 9; }

.hero-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.hero-center {
  height: 100%;
  position: relative;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .hero-center .inner {
    width: 800px;
    height: 300px;
    overflow: hidden;
    margin-top: -150px; }
    @media (max-width: 575.98px) {
      .hero-center .inner {
        margin-top: -70px; } }
    .hero-center .inner img {
      position: relative;
      top: 50px;
      width: 60%;
      height: auto;
      -webkit-transition: ease-out .5s;
      -moz-transition: ease-out .5s;
      -o-transition: ease-out .5s;
      transition: ease-out .5s; }
      @media (max-width: 575.98px) {
        .hero-center .inner img {
          top: -150px; } }
    .hero-center .inner h1 {
      position: relative;
      top: 0;
      -webkit-transition: ease-out .5s;
      -moz-transition: ease-out .5s;
      -o-transition: ease-out .5s;
      transition: ease-out .5s; }
      @media (max-width: 575.98px) {
        .hero-center .inner h1 {
          top: -150px; } }

.handle {
  position: relative;
  -webkit-transition: ease-out .8s;
  -moz-transition: ease-out .8s;
  -o-transition: ease-out .8s;
  transition: ease-out .8s;
  transform-origin: top; }

#handle-1 {
  width: 100px;
  height: 250px;
  transform: rotate(40deg);
  top: 30%;
  left: 10%;
  z-index: 0; }
  #handle-1 .handle-single {
    position: absolute;
    top: 0;
    left: 0; }
  #handle-1 .handle-blur {
    top: -90px;
    left: -90px; }
  @media (max-width: 575.98px) {
    #handle-1 {
      width: 50px;
      height: 125px; } }

#handle-2 {
  width: 200px;
  height: 500px;
  transform: rotate(40deg);
  top: -100%;
  left: 40%;
  z-index: 1; }
  #handle-2 .handle-single {
    position: absolute;
    top: -500px;
    left: 0; }
  #handle-2 .handle-blur {
    top: -590px;
    left: -90px; }
  @media (max-width: 575.98px) {
    #handle-2 {
      width: 100px;
      height: 250px; } }

#handle-3 {
  width: 200px;
  height: 500px;
  transform: rotate(40deg);
  top: -30%;
  left: 80%;
  z-index: 2; }
  #handle-3 .handle-single {
    position: absolute;
    top: 0;
    left: 0; }
  #handle-3 .handle-blur {
    top: -90px;
    left: -90px; }
  @media (max-width: 575.98px) {
    #handle-3 {
      width: 100px;
      height: 250px; } }

.skew {
  padding: 100px;
  transform: skewY(-5deg);
  position: absolute;
  width: 100%;
  top: -85px;
  z-index: -1; }

.section-1 {
  background: #f5f3f3;
  position: relative;
  z-index: 5;
  min-height: 500px;
  margin-top: 20px;
  padding: 50px 0 200px 0; }
  @media (max-width: 575.98px) {
    .section-1 {
      padding: 10px 0 160px 0;
      min-height: auto; } }
  .section-1 .skew {
    background: #f5f3f3; }
  .section-1 .container h2 {
    font-size: 55px;
    color: #8A28FC;
    margin: 40px 0 40px 0;
    letter-spacing: -1px; }
    @media (min-width: 1200px) {
      .section-1 .container h2 {
        padding: 0 145px; } }
    @media (max-width: 575.98px) {
      .section-1 .container h2 {
        font-size: 30px;
        letter-spacing: -1px; } }

.section-2 {
  background: #fff;
  position: relative;
  z-index: 5;
  min-height: 500px;
  margin-top: 20px;
  padding: 50px 0 200px 0; }
  @media (max-width: 575.98px) {
    .section-2 {
      padding: 10px 0 170px 0; } }
  .section-2 .skew {
    background: #fff; }
  .section-2 .services {
    text-align: center; }
    .section-2 .services .row {
      justify-content: center; }
      @media (min-width: 1200px) {
        .section-2 .services .row {
          padding: 0 95px; } }
      .section-2 .services .row .service-item {
        margin: 30px 0 50px 0; }
        .section-2 .services .row .service-item img {
          width: 144px;
          height: auto; }
        .section-2 .services .row .service-item h3 {
          text-align: center;
          color: #8A28FC; }
        @media (max-width: 575.98px) {
          .section-2 .services .row .service-item {
            margin: 10px 0 30px 0; } }

.section-3 {
  background: #2AEBD5;
  position: relative;
  z-index: 5;
  min-height: 500px;
  margin-top: 20px;
  padding: 50px 0 120px 0; }
  @media (max-width: 575.98px) {
    .section-3 {
      padding: 10px 0 70px 0; } }
  .section-3 .skew {
    background: #2AEBD5; }
  .section-3 .container h3 {
    font-size: 55px;
    color: #8A28FC;
    margin: 40px 0 40px 0;
    letter-spacing: -1px; }
    .section-3 .container h3 a {
      color: #8A28FC;
      text-decoration: none; }
      @media (max-width: 575.98px) {
        .section-3 .container h3 a {
          font-size: 30px; } }
    @media (min-width: 1200px) {
      .section-3 .container h3 {
        padding: 0 145px; } }
    @media (max-width: 575.98px) {
      .section-3 .container h3 {
        font-size: 30px;
        letter-spacing: -1px; } }
  .section-3 .container h2 {
    font-size: 80px;
    color: #fff;
    margin: 40px 0 40px 0;
    letter-spacing: -1px;
    line-height: 1; }
    @media (min-width: 1200px) {
      .section-3 .container h2 {
        padding: 0 145px; } }
    @media (max-width: 575.98px) {
      .section-3 .container h2 {
        font-size: 50px;
        letter-spacing: -1px; } }

/*# sourceMappingURL=main.css.map */
