$purple: #8A28FC;
$green: #2AEBD5;
$yellow: #FFE000;
$blue: #331557;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

body {
  margin: 0;
  background: $purple;
}

.container {
  @media (max-width: 575.98px) {
    padding: 0 25px;
  }
}

h1 {
  font-family: Karla;
  font-size: 120px;
  color: #fff;
  letter-spacing: -5px;
  line-height: 120px;
  font-weight: 700;
  margin: 100px 0;
  @media (max-width: 575.98px) {
    font-size: 60px;
    letter-spacing: -3px;
    line-height: 60px;
  }
}
h2 {
  font-family: Karla;
  font-weight: 700;
}
h3 {
  font-family: Karla;
  font-weight: 700;
  font-size: 18px;
}

header {
  padding: 30px 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  transition: ease-in .2s;
  @media (max-width: 575.98px) {
    text-align: center;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  #logo {
    height: 50px;
    overflow: hidden;
    width: auto;
    display: inline-block;
    position: relative;
    top: 0;
    -webkit-transition: ease-in .2s;
    -moz-transition: ease-in .2s;
    -o-transition: ease-in .2s;
    transition: ease-in .2s;
    img {
      height: 50px;
      width: auto;
    }
  }
  nav {
    float: right;
    ul {
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0rem;
      li {
        font-family: Karla;
        padding: 0 0 0 30px;
        color: #fff;
        display: inline-block;
        font-weight: 700;
        a {
          text-decoration: none;
          font-weight: 700;
        }
        .c-btn {
          padding: 15px 50px;
          background: $green;
          color: #fff;
          border-radius: 100px;
        }
      }
    }
    @media (max-width: 575.98px) {
      display: none;
    }
  }
}

//hero

.hero {
  height: 100vh;
  width: 100%;
  background: $purple;
  position: relative;
  overflow: hidden;
  @media (max-width: 575.98px) {
    height: 90vh;
  }
  .arrow-down {
    position: absolute;
    width: 50px;
    height: auto;
    left: 50%;
    margin-left: -25px;
    bottom: 170px;
    z-index: 9;
  }
}

.hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero-center {
  height: 100%;
  position: relative;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .inner {
    width: 800px;
    height: 300px;
    overflow: hidden;
    margin-top: -150px;
    @media (max-width: 575.98px) {
      margin-top: -70px;
    }
    img {
      position: relative;
      top: 50px;
      width: 60%;
      height: auto;
      -webkit-transition: ease-out .5s;
      -moz-transition: ease-out .5s;
      -o-transition: ease-out .5s;
      transition: ease-out .5s;
      @media (max-width: 575.98px) {
        top: -150px;
      }
    }
    h1 {
      position: relative;
      top: 0;
      -webkit-transition: ease-out .5s;
      -moz-transition: ease-out .5s;
      -o-transition: ease-out .5s;
      transition: ease-out .5s;
      @media (max-width: 575.98px) {
        top: -150px;
      }
    }
  }
}

.handle {
  position: relative;
  -webkit-transition: ease-out .8s;
  -moz-transition: ease-out .8s;
  -o-transition: ease-out .8s;
  transition: ease-out .8s;
  transform-origin: top;
  //box-shadow: 0px 0px 90px 90px $green;
}

#handle-1 {
  width: 100px;
  height: 250px;
  transform: rotate(40deg);
  top: 30%;
  left: 10%;
  z-index: 0;
  .handle-single {
    position: absolute;
    top: 0;
    left: 0;
  }
  .handle-blur {
    top: -90px;
    left: -90px;
  }
  @media (max-width: 575.98px) {
    width: 50px;
    height: 125px;
  }
}
#handle-2 {
  width: 200px;
  height: 500px;
  transform: rotate(40deg);
  top: -100%;
  left: 40%;
  z-index: 1;
  .handle-single {
    position: absolute;
    top: -500px;
    left: 0;
  }
  .handle-blur {
    top: -590px;
    left: -90px;
  }
  @media (max-width: 575.98px) {
    width: 100px;
    height: 250px;
  }
}
#handle-3 {
  width: 200px;
  height: 500px;
  transform: rotate(40deg);
  top: -30%;
  left: 80%;
  z-index: 2;
  .handle-single {
    position: absolute;
    top: 0;
    left: 0;
  }
  .handle-blur {
    top: -90px;
    left: -90px;
  }
  @media (max-width: 575.98px) {
    width: 100px;
    height: 250px;
  }
}

//other

.skew {
  padding: 100px;
  transform: skewY(-5deg);
  position: absolute;
  width: 100%;
  top: -85px;
  z-index: -1;
}

.section-1 {
  background: #f5f3f3;
  position: relative;
  z-index: 5;
  min-height: 500px;
  margin-top: 20px;
  padding: 50px 0 200px 0;
  @media (max-width: 575.98px) {
    padding: 10px 0 160px 0;
    min-height: auto;
  }
  .skew {
    background: #f5f3f3;
  }
  .container {
    h2 {
      font-size: 55px;
      color: $purple;
      margin: 40px 0 40px 0;
      letter-spacing: -1px;
      @media (min-width: 1200px) {
        padding: 0 145px;
      }
      @media (max-width: 575.98px) {
        font-size: 30px;
        letter-spacing: -1px;
      }
    }
  }
}

.section-2 {
  background: #fff;
  position: relative;
  z-index: 5;
  min-height: 500px;
  margin-top: 20px;
  padding: 50px 0 200px 0;
  @media (max-width: 575.98px) {
    padding: 10px 0 170px 0;
  }
  .skew {
    background: #fff;
  }
  .services {
    text-align: center;
    .row {
       justify-content: center;
       @media (min-width: 1200px) {
         padding: 0 95px;
       }
      .service-item {
        margin: 30px 0 50px 0;
        img {
          width: 144px;
          height: auto;
        }
        h3 {
          text-align: center;
          color: $purple;
        }
        @media (max-width: 575.98px) {
          margin: 10px 0 30px 0;
        }
      }
    }
  }
}

.section-3 {
  background: $green;
  position: relative;
  z-index: 5;
  min-height: 500px;
  margin-top: 20px;
  padding: 50px 0 120px 0;
  @media (max-width: 575.98px) {
    padding: 10px 0 70px 0;
  }
  .skew {
    background: $green;
  }
  .container {
    h3  {
      font-size: 55px;
      color: $purple;
      margin: 40px 0 40px 0;
      letter-spacing: -1px;
      a {
        color: $purple;
        text-decoration: none;
        @media (max-width: 575.98px) {
          font-size: 30px;
        }
      }
      @media (min-width: 1200px) {
        padding: 0 145px;
      }
      @media (max-width: 575.98px) {
        font-size: 30px;
        letter-spacing: -1px;
      }
    }
    h2 {
      font-size: 80px;
      color: #fff;
      margin: 40px 0 40px 0;
      letter-spacing: -1px;
      line-height: 1;
      @media (min-width: 1200px) {
        padding: 0 145px;
      }
      @media (max-width: 575.98px) {
        font-size: 50px;
        letter-spacing: -1px;
      }
    }
  }
}
